
# Ignore files which contains sensitive information
.env

# Ignore Docker data directories
/docker/data/*

# Ignore application configuration and custom greetings files
/src/web/_config/app-config.json
/src/web/views/home/greetings.php
